<!DOCTYPE html>
<html ng-app="TextAnalyzerApp">
  <head>
    <title>Text Analyzer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
        rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>

  <body ng-controller="TextAnalyzerController">
    <div class="container">
      <div class="row">
        
        <div class="col-sm-5 col-sm-offset-1">
          <h1>Text Analyzer</h1>
          <br>
          <form role="form" ng-submit="getResults()">
            <div class="form-group">
              <input type="text" name="url" class="form-control" id="url-box" 
                placeholder="Enter URL..." style="max-width: 300px;" ng-model="url" required>
            </div>

            {% raw %}
              <button type="submit" class="btn btn-primary"
                ng-disabled="loading">{{ submitButtonText }}</button>
            {% endraw %}
          </form>
          
          <!-- error -->
          <div class="alert alert-danger" role="alert" ng-show='urlerror'>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span>There was an error submitting your URL.<br>
            Please check to make sure it is valid before trying again.</span>
          </div>

          <!-- data visualization section -->
          <word-count-chart data="wordcounts"></word-count-chart>
        </div>

        <div class="col-sm-5 col-sm-offset-1">
          <h2>Word Frequencies</h2>
          <!-- {% raw %}
          <div id="results">{{ wordcounts }}</div>
          {% endraw %} -->
          
          <div id="results">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Word</th>
                  <th>Count</th>
                </tr>
              </thead>
              <tbody>
                {% raw %}
                <tr ng-repeat="element in wordcounts">
          
                  <td>{{ element[0] }}</td>
                  <td>{{ element[1] }}</td>
          
                </tr>
                {% endraw %}
              </tbody>
            </table>

            <!-- loading -->
            <img class="col-sm-3 col-sm-offset-4" ng-show="loading"
              src="{{ url_for('static', filename='spinner.gif') }}">
          </div>
        </div>
        
      </div>

    </div>
    <br><br>

    <!-- scripts -->
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='angular.1.4.9.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>